{% extends 'shop/base.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3"><b>Fashionista</b></h1>
      <p>E-commerce has evolved over the past few years and since it’s easier and more convenient, it is evident that customers are actually switching to the trend of online shopping. 
        Fashionista, the Nepali shopping store, brings a whole new concept by showcasing a number of famous brands under one roof. It fulfill clothing necessities of both men and women.
        Fashionista is Trusted ecommerce site founded by Aashish Thapa back in 2019 AD, Located in Tilottama Municipality Butwal.
      </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>General Information</h2>
        <p>Fashionista Pvt. Ltd<br>Address:Tilottama Municipality Butwal<br>phone:+977980393... </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Men's Fashion Brands</h2>
        <p>TOMMY HILFILER, NIKE, RALPH LAUREN, LEVI’S, MINISTRY OF SUPPLY, TRUE RELIGION, GOODTHREADS,
          ADIDAS, THE NORTH FACE, UNDER ARMOUR, CALVIN KLEIN, BURTON, COLUMBIA </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Women's Fashion Brands</h2>
        <P>Local Heroes, River Island, boohoo, Bershka, Loavies, NA-KD, Subdued, NIKE, RALPH LAUREN, LEVI’S, MINISTRY OF SUPPLY,  ADIDAS, THE NORTH FACE </P>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}
